[Desktop Entry]
Version=1.0
Type=Application

Name=Vidtuber
Comment=Vidtuber is a simple and cross-platform GUI for yt-dlp
Categories=AudioVideo;

Icon=vidtuber
StartupNotify=true
StartupWMClass=vidtuber
Exec=vidtuber
Terminal=false
