include launcher README.md AUTHORS BUGS CHANGELOG INSTALL LICENSE TODO
include tests/*
recursive-include debian *
recursive-include develop *
recursive-include docs *
recursive-include vidtuber/art *
recursive-include vidtuber/share *
recursive-include vidtuber/locale *
recursive-include vidtuber/FFMPEG *
